# ================================
# Python environments
# ================================
gee-env/
.venv/
env/
.env/

# ================================
# Python cache
# ================================
__pycache__/
*.pyc

# ================================
# VS Code
# ================================
.vscode/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Google Earth Engine
# ================================
.earthengine/

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Outputs / generated data
# ================================
outputs/
*.tif
*.zip
*.csv
