# Python virtual environment
gee-env/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Earth Engine auth
.earthengine/

# OS files
.DS_Store
Thumbs.db

# Data outputs
*.csv
*.tif
*.zip

